@mixin wrapper () {
  width: 80vw;
  margin: 0 auto;
}

$Pragati: 'Pragati Narrow', sans-serif;

body {
  background: radial-gradient(ellipse at bottom, rgb(45, 58, 73) 0%, #090A0F 100%);
  color: white;
  font-size: 62.5%;
  @include wrapper();
  height: 100%;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  text-align: center;
  
}

.particles {
  position: absolute;
  height: 90%;
  width: 100%;
  z-index: -1;
}

h1 {
  width: 100%;
  font-family: $Pragati;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}

.intro {
  width: 100%;
  padding: 0 10%;
  margin: 0 0 25px 0;
  font-family: $Pragati;
  font-size: 1.4rem;
  line-height: 2rem;
}

.dimension {
  padding: 0;
  width: 100%;
  background: rgba(51, 113, 141, 0.05);
  box-shadow: 2px 2px rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  flex-grow: 10;
  font-size: 1.8rem;

  
}

.dimension--notClicked {
  @extend .dimension; 
  background: rgba(51, 113, 141, 0.3);
  flex-grow: 1;
  width: calc(100% / 3);
  min-width: 300px;
  
  :hover {
    background: rgba(170, 96, 255, 0.4);
  }
}


.dimension-input {
  height: 60px;
  background: none;
  border: none;
  font-family: $Pragati;
  font-size: 1.1rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  width: 100%;
}

.planet-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.planet {
  margin: 5%;
}

.planet-input {
  background: rgba(170, 96, 255, 0.2);
  border-radius: 50%;
  border: none;
  padding: 0 20px;
}

.no-residents {
  font-size: 1rem;
}