/*Setup*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

html {
  position: relative; }

body {
  background: radial-gradient(ellipse at bottom, #2d3a49 0%, #090A0F 100%);
  color: white;
  font-size: 62.5%;
  width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 80px 0; }

label {
  visibility: hidden;
  height: 0;
  width: 0; }

footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(96, 255, 234, 0.5);
  font-family: "Pragati Narrow", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05rem; }
  footer a {
    text-decoration: none;
    color: #4400ff; }
    footer a:hover {
      color: white; }

h1 {
  padding-bottom: 25px;
  width: 100%;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  line-height: 4.1rem; }

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  text-align: center; }

.particles {
  position: absolute;
  height: 90%;
  width: 100%;
  z-index: -1; }

.intro {
  width: 100%;
  padding: 0 10%;
  margin: 0 0 25px 0;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem; }

.dimension, .dimension--notClicked {
  padding: 0;
  width: 100%;
  background: rgba(51, 113, 141, 0.05);
  box-shadow: 2px 2px rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  flex-grow: 10;
  font-size: 1.8rem; }
  .dimension--notClicked {
    background: rgba(51, 113, 141, 0.3);
    flex-grow: 1;
    width: calc(100% / 3);
    min-width: 300px; }
    .dimension--notClicked :hover {
      background: rgba(170, 96, 255, 0.4); }
  .dimension-input {
    height: 60px;
    background: none;
    border: none;
    font-family: "Pragati Narrow", sans-serif;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    width: 100%; }
    .dimension-input:hover {
      background: rgba(170, 96, 255, 0.4); }

.planet {
  margin: 5%;
  display: flex;
  flex-direction: column; }
  .planet-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center; }
  .planet-input, .planet-input--clicked {
    background: radial-gradient(circle, #eeaed7 0%, #621eaa 70%, #2d0657 100%);
    opacity: 0.9;
    border-radius: 50%;
    border: none;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #093372;
    box-shadow: 0 0 20px #590ea0;
    margin: 0 auto; }
    .planet-input:hover, .planet-input--clicked:hover {
      background: radial-gradient(circle, #ddeeae 0%, #5bd8b9 70%, #065757 100%);
      box-shadow: 0 0 20px #00cebd; }
    .planet-input--clicked {
      background: radial-gradient(circle, #ddeeae 0%, #5bd8b9 70%, #065757 100%);
      box-shadow: 0 0 20px #00cebd; }
  .planet--info {
    color: #5bd8b9;
    width: 100%;
    text-align: center;
    margin: 0; }
  .planet--type, .planet--info {
    font-family: "Pragati Narrow", sans-serif;
    font-size: 1.2rem;
    padding: 0;
    margin: 5px; }

.no-residents {
  font-size: 1rem; }

.resident {
  display: flex;
  flex-direction: row;
  background: rgba(96, 255, 234, 0.5);
  flex-flow: wrap;
  border: 4px solid #60ffea;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 500px; }
  .resident-status {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(255, 96, 207, 0.459); }
  .resident-more {
    background: none;
    border: none;
    font-family: "Pragati Narrow", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    box-shadow: 0 0 10px #00cebd;
    border-radius: 5px;
    width: 150px; }
    .resident-more:hover {
      box-shadow: 0 0 20px #00cebd;
      background: rgba(0, 206, 189, 0.5); }
  .resident-more_container {
    width: 200px; }
  .resident-large_more_container {
    display: flex;
    flex-direction: row;
    justify-content: center; }

.resident-info, .resident-pic {
  min-width: 50%; }
  .resident-info p, .resident-pic p {
    text-align: left;
    padding-left: 10px;
    font-size: 1.2rem;
    font-family: "Pragati Narrow", sans-serif;
    line-height: 1.2rem; }
  .resident-info img, .resident-pic img {
    width: 200px;
    height: 200px; }

@media all and (max-width: 570px) {
  body {
    padding: 50px 0 150px 0;
    width: 90vw; }
  .resident {
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin-left: 10px; }
  .resident-info, .resident-pic {
    width: 100%; }
    .resident-info p, .resident-pic p {
      text-align: center; }
    .resident-info img, .resident-pic img {
      width: 100%;
      height: 100%; } }
